name: Tests cloud

permissions: write-all

on:
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request:
    types: [opened, labeled, synchronize, reopened]

jobs:
  test:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'tests:run-cloud'))
    runs-on: ubuntu-24.04
    
    env:
      BUILD_TYPE: Release

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 100
          fetch-tags: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            gcc \
            g++

      - name: Configure project
        run: |
          cmake \
            -D CMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
            -D BUILD_TESTS=ON \
            -D WITH_OPENSSL=ON \
            -S ${{github.workspace}} \
            -B ${{github.workspace}}/build

      - name: Build project
        run: |
          cmake \
            --build ${{github.workspace}}/build \
            --config ${{env.BUILD_TYPE}} \
            --target all

      - name: Test
        working-directory: ${{github.workspace}}/build/ut
        env:
          CLICKHOUSE_USE_DOCKER: false
          CLICKHOUSE_USE_SSL: true
          CLICKHOUSE_HOST: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_HOST_SMT_PROD }}
          CLICKHOUSE_PASSWORD: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_PASSWORD_SMT_PROD }}
          CLICKHOUSE_JWT: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_JWT_DESERT_VM_43_PROD }}
          TESTCONTAINERS_RYUK_DISABLED: "true"
        run: ./clickhouse-cpp-ut
